body  {
  background-color: rgb(203, 189, 207);
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

header {
  padding: 20px;
  margin: 30px 0;
  background-color: rgb(237, 232, 238);
  /* display: flex; */
  /* justify-content: space-evenly; */
}

h1 {
  /* font-family: 'Londrina Outline', cursive;   */
  font-weight: 900;
  align-self: center;
  font-size: 5em;
  letter-spacing: .4em;
  color: rgb(234, 226, 238);
  text-shadow: -4px 4px rgb(178, 197, 6),
  6px -5px rgb(66, 102, 244);
}

header img {
  width: 190px;
}

h2 {
  font-size: 1.3em;
  margin-top: 20px;
  width: 400px;
  margin: auto;
  color: rgb(113, 113, 113);
}

#img-container {
  display: flex;
  margin: 40px 0;
  padding: 20px;
  justify-content: center;
  background-color: rgb(209, 209, 221);
}

section > img {
  width: 250px;
  height: 250px;
  margin: 0 20px;
}

div {
  width: max-content;
  margin: auto;
  padding: 10px;
  background-color: rgb(209, 209, 221);
  border: 2px solid royalblue;
  box-shadow: -10px 10px rgb(59, 91, 187);
  border-radius: 20%;
  margin-bottom: 60px;
  font-size: 1.5em;
}

footer {
  height: 100px;
}

div:hover {
  cursor: pointer;
  background-color: rgb(159, 165, 120);
  transition: 1s;
  font-size: 2em;
}

section > img:hover {
  cursor: pointer;
}